.media-cards {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0%, 0% 0);
}

.media-icons {
  z-index: -1;
  position: absolute;
  height: 10rem;
  transform: translateY(-5rem) translateX(-5rem);
}
.media-icons.linkedin {
  height: 8.5rem;
  transform: translateY(-4rem) translateX(-3rem);
}

.profile-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-box img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  border: 0.1rem white solid;
  object-fit: cover;
}

.grid-2 {
  display: grid;
  grid-template-columns: auto auto;
}

article h2 {
  margin-bottom: 1rem;
}
article .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
article .img-box img {
  border-radius: 0.5rem;
}
